@font-face {
  font-family: lexend;
  src: url(Lexend/Lexend-VariableFont_wght.ttf);
}



* {
  margin: 0;
  padding: 0;
  font-family: lexend;
  box-sizing: border-box;
  
}

html,
body {
  width: 100%;
  height: 100%;
}



.home-contener {
  height:  83vh;
  width: 100vw;
  background-color: #1c4645;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navbar {
  width: 89%;
  height: 5vh;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(5px);
  
}

.nav-log {
  color: #ffffff;
  margin-left: 60px;
}

.nav-option {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.nav-btn button {
  padding: 8px 16px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  background: none;
  color: white;

}

.nav-btn button:hover {
  background-color: #f88703;
  color: black;
  transition: 300ms;
}

.hero-section {
  height: 83vh;
  width: 80vw;
  display: flex;
  /* background-color: red; */
  
}

.hero-left {
  height: 83vh;
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;

}

.hero-left-section {
  height: 100%;
  width: 90%;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  /* background-color: green; */

}

.hero-left-section h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 4rem;
}

.hero-left-btn {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-top: 40px;

}
.hero-left-btn button>i {
  font-size: 30px;
}

.btn2 button>i{
  color: #e82c2c;
  margin-right: 5px;
 
}
.btn1 button>i{
  margin-right: 5px; 
}

.btn1 button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 300ms;
}


.btn1 button {
  background-color: black;
  color: #ffffff;
  display: flex;
}

.btn2 button:hover {
  background-color: #ff0000;
  color: white;
  transition: 300ms;
}
.btn2 button:hover i{
  color: white;
}

.hero-left-btn button {
  padding: 0.5vw 1vw;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discription{
  margin-top: 70px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.disp1{

  padding-right: 20px; 
  border-right: 2px solid #ffffff;
}
.disp2{

  padding-right: 20px; 
  border-right: 2px solid #ffffff;
}

.hero-right {
  height: 83vh;
  width: 50%;
  /* background-color: #1aff00; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

} 

.hero-right img{
  width: 400px;
  border-radius: 20px;
}

#resaon{
  height: 100vh;
  width: 100vw;
  background-color: red;
}


