@font-face {
  font-family: lexend;
  src: url(Lexend/Lexend-VariableFont_wght.ttf);
}

@keyframes up-down-motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }

}

* {
  margin: 0;
  padding: 0;
  font-family: lexend;
  box-sizing: border-box;

}

html,
body {
  width: 100%;
  height: 100%;
}


/* home page start */

.home-contener {
  height: 100vh;
  width: 100%;
  background-color: #1c4645;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
}

.navbar {
  width: 89%;
  height: 5vh;  
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(5px);

}

.nav-log {
  color: #ffffff;
  margin-left: 60px;
}

.nav-option {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.nav-btn button {
  padding: 8px 16px;
  border: none;
  border-radius: 7px;
  font-weight: 300;
  background: none;
  color: white;

}

.nav-btn button:hover {
  background-color: #f88703;
  color: black;
  transition: 300ms;
}

.hero-section {
  height: 83vh;
  width: 80vw;
  display: flex;


}

.hero-left {
  height: 83vh;
  width: 50%;

  display: flex;
  justify-content: center;

}

.hero-left-section {
  height: 100%;
  width: 90%;
  display: flex;
  color: #ffffff;
  flex-direction: column;
 

}

.hero-left-section h1 {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 4rem;
  line-height: 4rem;
}

.hero-left-btn {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-top: 40px;

}

.hero-left-btn button>i {
  font-size: 30px;
}

.btn2 button>i {
  color: #e82c2c;
  margin-right: 5px;

}

.btn1 button>i {
  margin-right: 5px;
}

.btn1 button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 300ms;
}


.btn1 button {
  background-color: black;
  color: #ffffff;
  display: flex;
}

.btn2 button:hover {
  background-color: #ff0000;
  color: white;
  transition: 300ms;

}

.btn2 button:hover i {
  color: white;
}

.hero-left-btn button {
  padding: 0.5vw 1vw;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.discription {
  margin-top: 70px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.disp1 {

  padding-right: 20px;
  border-right: 2px solid #ffffff;
}

.disp2 {

  padding-right: 20px;
  border-right: 2px solid #ffffff;
}

.hero-right {
  height: 83vh;
  width: 50%;
  /* background-color: #1aff00; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;

}

.hero-right img {
  width: 400px;
  border-radius: 20px;
}

.hero-right-btn button {
  font-size: 14px;
  width: 8vw;
  height: 5vh;
  margin-top: 40px;
  border: none;
  border-radius: 0.6vw;
  animation: up-down-motion 4s infinite linear;
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.hero-right-btn button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 300ms;
}


/* home page end  */


.reason-page{
  /* width: 100%; */
  
}


.reason-heading{
  height: 10vh;
  width: 100%;  
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.reason-container{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.card{
  width: 25%;
  height: 80%;
  background-color: aliceblue;
  border-radius: 2vw;
  display: flex;  
  justify-content: center ;
  align-items: center;
  background: none;
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid #ffffff4d;
  box-shadow: 0 4px 30px #0000001a;
}

.card:hover{
  box-shadow: 0 4px 30px #1c4645;
  transition: 400ms;
}
.card-containt{
  width: 20vw;
  height: 40vh; 
  display: flex;
  flex-direction: column;
  justify-content:space-around;

}
.card-icon{
  font-size: 2.5vw;
  width:4vw;
  padding: 0.3vw 1vw;
  color: white;
  background-color: #1c4645;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-containt h4{
  font-size: 20px;
  font-weight: 500;
}
.card-containt p{
  font-weight: 300;
}

.card-containt button {
  border: none;
  background: none; 
}

.card-btn button:hover{
  transform: scale(1.1);
  border-bottom:1px solid black ;
  transition: 300ms;
}
.card-btn button {
  font-weight: 700;
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

.reason-page-foot{
  width: 100%;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end of page2 */

/* start of page3  */

.page-3{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content:center;
  align-items: center;
  /* background-color: red; */
}

.section1{
  width: 30%;
  height: 80%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bft{
  width: 40%;
  padding-bottom: 20px;
  line-height: 1.5vw;
  border-bottom: 1px solid black;
}
.bft button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 15px;
  margin-top: 2vh;
  margin-left: 6vw;
  color: white;
  font-size: 15px;
  background-color: #1c4645;
}

.bft p:hover{
  color: #131372;
}
.bft button:hover{
  transform: scale(1.1);
}
.section2{
  width: 30%;
  height: 80%;
  background-color: rgb(167, 167, 179);
}
.section3{
  width: 30%;
  height: 80%;
  background-color: rgb(255, 140, 0);
}